In [20]:

import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("../dataset/apple_stocks.csv")
data.head()

        Date    Open    High     Low   Close    Volume
0   7-Jul-17  142.90  144.75  142.90  144.18  19201712
1   6-Jul-17  143.02  143.50  142.41  142.73  24128782
2   5-Jul-17  143.69  144.79  142.72  144.09  21569557
3   3-Jul-17  144.88  145.30  143.10  143.50  14277848
4  30-Jun-17  144.45  144.96  143.78  144.02  23024107

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    129 non-null    object
 1   Open    129 non-null    float64
 2   High    129 non-null    float64
 3   Low     129 non-null    float64
 4   Close   129 non-null    float64
 5   Volume  129 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.2+ KB

In [4]:
data.isnull().sum()

Date      0
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

In [5]:
data.duplicated().sum()

np.int64(0)

In [6]:
data['Date'] = pd.to_datetime(data['Date'], format='%d-%b-%y')

# Convert the datetime to integer format (e.g., YYYYMMDD)
data['Date'] = data['Date'].dt.strftime('%Y%m%d').astype(int)

# Display the modified DataFrame
print(data)

         Date    Open    High     Low   Close    Volume
0    20170707  142.90  144.75  142.90  144.18  19201712
1    20170706  143.02  143.50  142.41  142.73  24128782
2    20170705  143.69  144.79  142.72  144.09  21569557
3    20170703  144.88  145.30  143.10  143.50  14277848
4    20170630  144.45  144.96  143.78  144.02  23024107
..        ...     ...     ...     ...     ...       ...
124  20170109  117.95  119.43  117.94  118.99  33561948
125  20170106  116.78  118.16  116.47  117.91  31751900
126  20170105  115.92  116.86  115.81  116.61  22193587
127  20170104  115.85  116.51  115.75  116.02  21118116
128  20170103  115.80  116.33  114.76  116.15  28781865

[129 rows x 6 columns]

In [31]:
below_120_days = data[data['Open'] > 180]

# Count the number of trading days with 'Low' price below 120
num_days_below_120 = below_120_days.shape[0]
num_days_below_120

0

In [27]:
data_range = data['Open'].max() - data['Open'].min()
print(f"Range of the column: {data_range}")

Range of the column: 40.209999999999994

In [25]:
data.describe()

,Date,Open,High,Low,Close,Volume
count,1.290000e+02,129.000000,129.000000,129.000000,129.000000,1.290000e+02
mean,2.017038e+07,139.826977,140.683953,139.050155,139.975349,2.706259e+07
std,1.786912e+02,11.007846,11.009166,10.705675,10.781804,1.202048e+07
min,2.017010e+07,115.800000,116.330000,114.760000,116.020000,1.424635e+07
25%,2.017022e+07,135.670000,136.270000,135.100000,135.720000,2.035000e+07
50%,2.017040e+07,142.110000,142.920000,141.110000,142.270000,2.357509e+07
75%,2.017052e+07,145.740000,147.140000,144.940000,145.870000,3.037938e+07
max,2.017071e+07,156.010000,156.650000,155.050000,156.100000,1.119850e+08

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    129 non-null    int64
 1   Open    129 non-null    float64
 2   High    129 non-null    float64
 3   Low     129 non-null    float64
 4   Close   129 non-null    float64
 5   Volume  129 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 6.2 KB

In [9]:
data

         Date    Open    High     Low   Close    Volume
0    20170707  142.90  144.75  142.90  144.18  19201712
1    20170706  143.02  143.50  142.41  142.73  24128782
2    20170705  143.69  144.79  142.72  144.09  21569557
3    20170703  144.88  145.30  143.10  143.50  14277848
4    20170630  144.45  144.96  143.78  144.02  23024107
..        ...     ...     ...     ...     ...       ...
124  20170109  117.95  119.43  117.94  118.99  33561948
125  20170106  116.78  118.16  116.47  117.91  31751900
126  20170105  115.92  116.86  115.81  116.61  22193587
127  20170104  115.85  116.51  115.75  116.02  21118116
128  20170103  115.80  116.33  114.76  116.15  28781865

[129 rows x 6 columns]

In [12]:
column_names = list(data.columns)

column_names

['Date', 'Open', 'High', 'Low', 'Close', 'Volume']

In [13]:
numeric_features=data[['Date', 'Open', 'High', 'Low', 'Close', 'Volume']]

In [17]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(numeric_features)

In [18]:
X = data.drop('Close', axis=1)
y = data['Close']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(len(X_train))
print(len(X_test))

103
26

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
rf_clf = RandomForestClassifier(random_state=42)

rf_clf.fit(X_train, y_train)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.